# UFO Question 

Our data science team has predicted that the Earth is going to be invaded by an alien force in the
next years. Our only hope is to replicate a device that can block all alien technology in a radius of
~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and
we don't know how contact her again. We know that the device has been active since 2004 in one
city in the USA, and we want to know where to start our search.
We've included a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings
over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in
which the device has been hidden.

In [37]:
# Import libraries
import pandas as pd

In [38]:
# Import data
df=pd.read_csv(r'ufo.csv')
df.head()

,Unnamed: 0,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,2004,1242.667772
1,1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,2005,1325.486319
2,2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,2008,6515.416577
3,3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,2004,1211.971352
4,4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,2004,6960.923396

In [39]:
df.shape

(78509, 14)

In [40]:
df.columns

Index(['Unnamed: 0', 'datetime', 'city', 'state', 'country', 'shape',
       'duration', 'total_time', 'comments', 'date_posted', 'latitude',
       'longitude', 'year', 'distance'],
      dtype='object')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78509 entries, 0 to 78508
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   78509 non-null  int64
 1   datetime     78509 non-null  object
 2   city         78509 non-null  object
 3   state        72714 non-null  object
 4   country      68947 non-null  object
 5   shape        76599 non-null  object
 6   duration     78509 non-null  float64
 7   total_time   78509 non-null  object
 8   comments     78495 non-null  object
 9   date_posted  78509 non-null  object
 10  latitude     78509 non-null  float64
 11  longitude    78509 non-null  float64
 12  year         78509 non-null  int64
 13  distance     78509 non-null  float64
dtypes: float64(4), int64(2), object(8)
memory usage: 8.4+ MB

In [43]:

df['year'].astype(int, copy=False)
df2=df[['latitude','longitude']][df['year']>=2004]

In [44]:
# Find the city